$white:    #fff ;
$gray-100: #f8f9fa ;
$gray-200: #e9ecef ;
$gray-300: #dee2e6 ;
$gray-400: #ced4da ;
$gray-500: #adb5bd ;
$gray-600: #6c757d ;
$gray-700: #495057 ;
$gray-800: #343a40 ;
$gray-900: #212529 ;
$black:    #000 ;


$purple-dark:  #9926f0 ;
$purple-light:  #BB6EF5 ;
$footer: #151414;
$pink:    #d122e3 ;

$accordion-padding-y:1.5rem;
$accordion-padding-x:1.5rem;

$primary:       $purple-dark ;
$secondary:     $pink ;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
