.companies{
    position: relative;
    top: 2rem;
    padding: 0 0 5rem 0;
   &__logo-box{
    height: 3rem;
    max-width: 100%;
    margin-bottom: 2rem;
    padding: 0.5rem;
    text-align: center;
    position: relative;
    img{
        height: 100%;
        &:hover{
            filter: grayscale(120);
        }
    }
   }
}