@use '../custom' as *;
@use '../components/mixins' as *;


.footer{
    padding-top: 1rem;
    background-color: $footer;

    
}
.contact-box{
    position: relative;
   &__icon{
    padding-top: 1rem;
   }
    &__info{
        padding: 0.4rem;
font-weight: 600;
        &--title{
            color: white;
            text-decoration: none;
            font-size: 1.4rem;
        }
        &--subtitle{
color:rgb(74, 76, 75);
text-decoration: none;
font-size: 1rem;
        }
    }

}

