@use '../custom' as *;
@use '../components//mixins' as *;


.btn-rounded{
    @include media-breakpoint-down(sm)//down for small devices
    {
        display: none;
    }
    position: relative;
    padding: 0.9375rem 4.375rem 0.9375rem 1.25rem ;
     font-weight: 700;
     background-color: white;
    margin: 0;
    border: 0.1rem solid rgba($color: ($white), $alpha: 0.6);
span {
    position: absolute;
    background-color: $primary;
    width: 2.5rem;
    height: 2.5rem;
   bottom: 15%;
    right: 5px;
    border-radius: 50%;
}
i{
    color: white;
    font-size: 1rem;
    line-height: 2.5rem;

}
}
.btn-rounded:hover{
    @include gradient; 
color: white;
span{
    background-color: rgba($color: #000000, $alpha: 0.6);
}
}