@use '../custom' as *;
@use '../components/mixins' as *;

.display-2{
    margin-bottom: 1rem;
    text-transform: capitalize;
    &--intro{
        display: inline-block;
        font-weight: 700;
    }
    &--discription{
        font-size: 1rem;
        display: block;
        margin-top: 1.2rem;
        text-transform: none;
        @include media-breakpoint-up(lg)
    {
        font-size: 1.5rem;
        display: inline-block;
    }
    }

}
.display-3{
   &--title{
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 600;
    display: inline;
    background-image: linear-gradient(to right,$primary,$secondary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
}
.heading-line::before{
    content: "";
    width: 10rem;
    height: 0.1rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;

}
.heading-line::after{
    content: "";
    width: 2rem;
    height: 0.5rem;
    display: block;
    margin: 0 auto;
    background-color: $primary;
    margin-bottom: 1rem;

}

.border-right{
    border-right: 0.1rem solid $gray-300;
    height: 100%;
}
.gradient{
@include gradient;
}